.event-height {
  min-height: 390px;
}

.event-description {
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  padding-left: 20px;
}

.program {
  padding-right: 45px;
}

.event-program {
  margin-left: 15px;
}
