#fh5co-event .fh5co-heading p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
}

.event-height {
  min-height: 425px;
}

.event-description {
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  padding-left: 20px;
}

.program {
  padding-right: 45px;
}

.event-program {
  margin-left: 15px;
}

.wedding-event {
  min-height: 265px;
}

p {
  margin: 0;
}
