<div id="page">
    <div id="fh5co-offcanvas">
        <ul>
            <li routerLinkActive="active">
                <a routerLink="home" (click)="closeMenu()">Home</a>
            </li>
            <li routerLinkActive="active">
                <a routerLink="/schedule" (click)="closeMenu()">Schedule</a>
            </li>
            <li routerLinkActive="active">
                <a routerLink="/rsvp" (click)="closeMenu()">RSVP</a>
            </li>
        </ul>
    </div>
    <nav class="fh5co-nav" role="navigation">
        <div class="container">
            <div class="row">
                <div class="col-xs-2">
                    <div id="fh5co-logo"><a routerLink="home">Wedding<strong>.</strong></a></div>
                </div>
                <div class="col-xs-10 text-right menu-1">
                    <ul>
                        <li routerLinkActive="active">
                            <a routerLink="home">Home</a>
                        </li>
                        <li routerLinkActive="active">
                            <a routerLink="/schedule">Schedule</a>
                        </li>
                        <li routerLinkActive="active">
                            <a routerLink="/rsvp">RSVP</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </nav>
    <router-outlet></router-outlet>
</div>