<div class="simply-countdown simply-countdown-one" *ngIf="seconds">
  <div class="simply-section simply-days-section">
    <div><span class="simply-amount">{{days}}</span><span class="simply-word">Days</span></div>
  </div>
  <div class="simply-section simply-hours-section">
    <div><span class="simply-amount">{{hours}}</span><span class="simply-word">Hours</span></div>
  </div>
  <div class="simply-section simply-minutes-section">
    <div><span class="simply-amount">{{minutes}}</span><span class="simply-word">Minutes</span></div>
  </div>
  <div class="simply-section simply-seconds-section">
    <div><span class="simply-amount">{{seconds}}</span><span class="simply-word">Seconds</span></div>
  </div>
</div>
