<div id="fh5co-couple" class="fh5co-section-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
                <h2>Hello!</h2>
                <h3>November 18th, 2017 Upper Alington, OH</h3>
                <p>We invited you to celebrate our wedding</p>
            </div>
        </div>
        <div class="couple-wrap animate-box">
            <div class="couple-half">
                <div class="groom">
                    <img src="../../assets/images/groom.jpg" alt="groom" class="img-responsive">
                </div>
                <div class="desc-groom">
                    <h3>Josiah Trumpower</h3>
                  <p>"Love is patient and kind; love does not envy or boast; it is not arrogant or rude. It does not insist on its own way; it is not irritable or resentful; it does not rejoice at wrongdoing, but rejoices with the truth. Love bears all things, believes all things, hopes all things, endures all things. Love never ends. As for prophecies, they will pass away; as for tongues, they will cease; as for knowledge, it will pass away."<br><b>1 Corinthians 13:4-8</b></p>
                </div>
            </div>
            <p class="heart text-center"><i class="icon-heart2"></i></p>
            <div class="couple-half">
                <div class="bride">
                    <img src="../../assets/images/bride.jpg" alt="groom" class="img-responsive">
                </div>
                <div class="desc-bride">
                    <h3>Amanda Pigford</h3>
                  <p>"Do nothing from rivalry or conceit, but in humility count others more significant than yourselves. Let each of you look not only to his own interests, but also to the interests of others. Have this mind among yourselves, which is yours in Christ Jesus, who, though he was in the form of God, did not count equality with God a thing to be grasped, but made himself nothing, taking the form of a servant, being born in the likeness of men. And being found in human form, he humbled himself by becoming obedient to the point of death, even death on a cross."<br><b>Philippians 2:3-8</b></p>
                </div>
            </div>
        </div>
    </div>
</div>
