<header id="fh5co-event" class="fh5co-cover" role="banner" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
      <div class="row col-md-12">
        <input
          type='text'
          style='padding:8px;margin:15px auto;width:30%;'
          placeholder='Type to filter the table...'
          (keyup)='updateFilter($event)'
        />

        <ngx-datatable
          #table [columnMode]="'flex'"
          [rows]="guests"
          [columns]="columns"
          [rowHeight]="40"
          [footerHeight]="35"
          [limit]="12"
          [loadingIndicator]="loadingIndicator"
          [scrollbarH]="true"
          class="material">
          <ngx-datatable-footer>
            <ng-template
              ngx-datatable-footer-template
              let-rowCount="rowCount"
              let-pageSize="pageSize"
              let-selectedCount="selectedCount"
              let-curPage="curPage"
              let-offset="offset">
              <div style="width: 100%">
                <div style="padding: 5px 10px;" class="pull-left">
                  Rows: {{rowCount}} | Attending: {{ attending }} | Not Attending: {{ notAttending }}
                </div>
                <div class="pull-right">
                  <datatable-pager
                    [pagerLeftArrowIcon]="'datatable-icon-left'"
                    [pagerRightArrowIcon]="'datatable-icon-right'"
                    [pagerPreviousIcon]="'datatable-icon-prev'"
                    [pagerNextIcon]="'datatable-icon-skip'"
                    [page]="curPage"
                    [size]="pageSize"
                    [count]="rowCount"
                    [hidden]="!((rowCount / pageSize) > 1)"
                    (change)="table.onFooterPage($event)">
                  </datatable-pager>
                </div>
              </div>
            </ng-template>
          </ngx-datatable-footer>
        </ngx-datatable>

        <ng-template #firstNameTmpl let-value="value" let-row="row">
            <span
              title="Double click to edit"
              (dblclick)="editing[row.$$index + '-firstName'] = true"
              *ngIf="!editing[row.$$index + '-firstName']">
              {{value}}
            </span>
          <input
            autofocus
            (blur)="updateValue($event, 'firstName', row)"
            (keyup.enter)="updateValue($event, 'firstName', row)"
            *ngIf="editing[row.$$index + '-firstName']"
            type="text"
            [value]="value"
          />
        </ng-template>

        <ng-template #lastNameTmpl let-value="value" let-row="row">
            <span
              title="Double click to edit"
              (dblclick)="editing[row.$$index + '-lastName'] = true"
              *ngIf="!editing[row.$$index + '-lastName']">
              {{value}}
            </span>
          <input
            autofocus
            (blur)="updateValue($event, 'lastName', row)"
            (keyup.enter)="updateValue($event, 'lastName', row)"
            *ngIf="editing[row.$$index + '-lastName']"
            type="text"
            [value]="value"
          />
        </ng-template>

        <ng-template #emailTmpl let-value="value" let-row="row">
            <span
              title="Double click to edit"
              (dblclick)="editing[row.$$index + '-email'] = true"
              *ngIf="!editing[row.$$index + '-email']">
              {{value}}
            </span>
          <input
            autofocus
            (blur)="updateValue($event, 'email', row)"
            (keyup.enter)="updateValue($event, 'email', row)"
            *ngIf="editing[row.$$index + '-email']"
            type="text"
            [value]="value"
          />
        </ng-template>

        <ng-template #eventTypeTmpl let-value="value" let-row="row">
            <span
              title="Double click to edit"
              (dblclick)="editing[row.$$index + '-eventType'] = true"
              *ngIf="!editing[row.$$index + '-eventType']">
              {{value}}
            </span>
            <select
              *ngIf="editing[row.$$index + '-eventType']"
              (change)="updateValue($event, 'eventType', row)"
              [value]="value">
              <option value="Ceremony">Ceremony</option>
              <option value="Ceremony and Reception">Ceremony and Reception</option>
            </select>
        </ng-template>

        <ng-template #guestsTmpl let-value="value" let-row="row">
            <span
              title="Double click to edit"
              (dblclick)="editing[row.$$index + '-numberOfGuests'] = true"
              *ngIf="!editing[row.$$index + '-numberOfGuests']">
              {{value}}
            </span>
          <input
            autofocus
            (blur)="updateValue($event, 'numberOfGuests', row)"
            (keyup.enter)="updateValue($event, 'guestsAttending', row)"
            *ngIf="editing[row.$$index + '-numberOfGuests']"
            type="number"
            [value]="value"
          />
        </ng-template>

        <ng-template #dietaryRestrictionTmpl let-value="value" let-row="row">
            <span
              title="Double click to edit"
              (dblclick)="editing[row.$$index + '-dietaryRestriction'] = true"
              *ngIf="!editing[row.$$index + '-dietaryRestriction']">
              {{value}}
            </span>
          <input
            autofocus
            (blur)="updateValue($event, 'dietaryRestriction', row)"
            (keyup.enter)="updateValue($event, 'dietaryRestriction', row)"
            *ngIf="editing[row.$$index + '-dietaryRestriction']"
            type="text"
            [value]="value"
          />
        </ng-template>

        <ng-template #attendingTmpl let-row="row" let-value="value">
          <input type="checkbox" [checked]="value" (click)="updateValue($event, 'attending', row)" />
        </ng-template>

        <ng-template #hotelTmpl let-row="row" let-value="value">
          <div class="text-center">
            <input type="checkbox" [checked]="value" (click)="updateValue($event, 'hotel', row)" />
          </div>

        </ng-template>

        <ng-template #deleteTmpl let-row="row" let-value="value">
          <input type="button" value="X" (click)="deleteRow(row)" />
        </ng-template>
      </div>
    </div>
</header>
