<header id="fh5co-event" class="fh5co-cover" role="banner" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
      <div class="row col-md-12">
        <input
          type='text'
          style='padding:8px;margin:15px auto;width:30%;'
          placeholder='Type to filter the name column...'
          (keyup)='updateFilter($event)'
        />

        <ngx-datatable
          #table [columnMode]="'flex'"
          [rows]="guests"
          [columns]="columns"
          [footerHeight]="40"
          [limit]="15"
          [loadingIndicator]="loadingIndicator"
          class="material">
        </ngx-datatable>

        <ng-template #editTmpl let-row="row" let-value="value">
          <input type="checkbox" [checked]="value" />
        </ng-template>
      </div>
    </div>
</header>
