<div id="fh5co-started" class="fh5co-bg" style="background-image:url(../../assets/images/img_bg_5.jpg);">
  <div class="overlay"></div>
  <div class="container">
    <div class="row animate-box">
      <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
        <h2>Need A Hotel?</h2>
        <p>Check below for details</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-sm-8 white">
        <p>We have a pre-arranged price for a hotel should you need to stay the night in the area. You can book your stay <a href="http://hamptoninn.hilton.com/en/hp/groups/personalized/C/CAKBMHX-PTW-20171020/index.jhtml" target="_blank">here</a>.</p>
        <p>Note: You <b>MUST</b> book hotel room no later than Friday, Sept. 29.</p>
      </div>
    </div>
  </div>
</div>
