<div id="fh5co-event" class="fh5co-bg" style="background-image:url(../../assets/images/img_bg_3.jpg);">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
                <span>Our Special Events</span>
                <h2>Wedding Events</h2>
            </div>
        </div>
        <div class="row">
            <div class="display-t">
                <div class="display-tc">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="col-md-6 col-sm-6 text-center">
                            <div class="event-wrap animate-box">
                                <h3>Main Ceremony</h3>
                                <div class="event-col">
                                    <i class="icon-clock"></i>
                                    <span>12:00 PM</span>
                                    <span>2:00 PM</span>
                                </div>
                                <div class="event-col">
                                    <i class="icon-calendar"></i>
                                    <span>Saturday 18</span>
                                    <span>November, 2017</span>
                                </div>
                                <!--<p>Please join us for our wedding ceremony</p>-->
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 text-center">
                            <div class="event-wrap animate-box">
                                <h3>Wedding Reception</h3>
                                <div class="event-col">
                                    <i class="icon-clock"></i>
                                    <span>4:00 PM</span>
                                    <span>9:00 PM</span>
                                </div>
                                <div class="event-col">
                                    <i class="icon-calendar"></i>
                                    <span>Saturday 18</span>
                                    <span>November, 2017</span>
                                </div>
                                <!--<p>Please join us for our wedding reception</p>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="display-t">
                <div class="display-tc">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="col-md-6 col-sm-6 text-center">
                            <div class="event-wrap animate-box">
                                <h3>Special Thanks</h3>
                                <p>
                                    Special Thanks To:
                                    Gene Pigford, officiating
                                    Pastor Jeremiah Olsen, marriage counseling
                                    Daniel & Gail Pigford, parents
                                    Richard & Linda Trumpower, parents
                                    John & Kathy Kindel, bride's grandparents
                                    Gene & Eddie Pigford, bride's grandparents
                                    Names here, groom's grandparents
                                </p>
                                <!--<p>Please join us for our wedding ceremony</p>-->
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 text-center">
                            <div class="event-wrap animate-box">
                                <h3>Wedding Party</h3>
                                <p>
                                    Michael Allman, best man
                                    Alexandria Pace, maid of honor
                                    Groomsmen: Sam Fuller, Jonathan Kuns, Jonathan Pigford
                                    Bridesmaids: Taylor Pace, Renee Pace, Elise Trumpower
                                    Flower girl: Tabitha Pace
                                    Mark Kasprzak, photography
                                    Gail Pigford & Kathy Kindel, cupcakes
                                </p>
                                <!--<p>Please join us for our wedding reception</p>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
