<div id="fh5co-event" class="fh5co-bg" style="background-image:url(../../assets/images/img_bg_3.jpg);">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
                <span>Our Special Events</span>
                <h2>Wedding Events</h2>
                <p>Notice: Malone does not allow alcohol of any kind on their campus.</p>
            </div>
        </div>
        <div class="row">
            <div class="display-t">
                <div class="display-tc">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="col-md-6 col-sm-6 text-center">
                            <div class="event-wrap animate-box wedding-event">
                                <h3>Main Ceremony</h3>
                                <div class="event-col">
                                    <i class="icon-clock"></i>
                                    <span>12:00 PM</span>
                                    <span>1:30 PM</span>
                                </div>
                                <div class="event-col">
                                    <i class="icon-calendar"></i>
                                    <span>Saturday 21</span>
                                    <span>October, 2017</span>
                                </div>
                                <p>Seating at 12, ceremony begins at 12:30 sharp.</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 text-center">
                            <div class="event-wrap animate-box wedding-event">
                                <h3>Wedding Reception</h3>
                                <div class="event-col">
                                    <i class="icon-clock"></i>
                                    <span>1:30 PM</span>
                                    <span>6:00 PM</span>
                                </div>
                                <div class="event-col">
                                    <i class="icon-calendar"></i>
                                    <span>Saturday 21</span>
                                    <span>October, 2017</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
          <div class="col-md-10 col-md-offset-1 program">
            <div class=" event-wrap event-description event-program" >
              <h3 class="text-center">Ceremony</h3>
              <ul>
                <li>Guest Seating & Prelude (Euanna Pigford)</li>
                <li>Seating of Parents and Grandparents</li>
                <li>Welcome & Opening Prayer (Richard Trumpower)</li>
                <li>
                  Processional
                  <ul>
                    <li>Pastor Eugene Pigford and Josiah Trumpower</li>
                    <li>Michael Allman and Alexandria Pace</li>
                    <li>Jonathan Kuns and Elise Trumpower</li>
                    <li>Sam Fuller and Taylor Pace</li>
                    <li>Jonathan Pigford and Renee Pace</li>
                    <li>Tabitha Pace</li>
                    <li>Daniel and Amanda Pigford</li>
                  </ul>
                </li>
                <li>Pastoral Greeting (Eugene Pigford)</li>
                <li>23 Things Love Is by Paul Tripp (Parents and grandparents of bride and groom)</li>
                <li>Scripture Lesson (Eugene Pigford)</li>
                <li>Vows & Ring Exchange</li>
                <li>Sand Ceremony</li>
                <li>Declaration of Marriage</li>
                <li>Prayer of Blessing</li>
                <li>Recessional</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-10 col-md-offset-1 program">
            <div class=" event-wrap event-description event-program" >
              <h3 class="text-center">Reception</h3>
              <ul>
                <li>Seating</li>
                <li>Entrance of Bride & Groom</li>
                <li>Opening Prayer (Daniel Pigford)</li>
                <li>
                  Dinner & Remarks
                  <ul>
                    <li>Best Man (Michael Allman)</li>
                    <li>Maid of Honor (Allexandria Pace)</li>
                    <li>Siblings (Jonathan Pigford & Elise Trumpower)</li>
                  </ul>
                </li>
                <li>Cake Cutting</li>
                <li>First Dance</li>
                <li>Father/Daughter & Mother/Son Dance</li>
                <li>Contra Dancing (All Guests Invited)</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
            <div class="display-t">
                <div class="display-tc">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="col-md-6 col-sm-6">
                            <div class="event-wrap animate-box event-height">
                                <h3 class="text-center">Wedding Party</h3>
                                <p style="padding-left: 20px">
                                  <b>Best Man:</b> Michael Allman<br>
                                  <b>Maid of Honor:</b> Alexandria Pace<br>
                                  <b>Groomsmen:</b> Jonathan Kuns, Sam Fuller, Jonathan Pigford<br>
                                  <b>Bridesmaids:</b> Elise Trumpower, Taylor Pace, Renee Pace<br>
                                  <b>Flower Girl:</b> Tabitha Pace<br>
                                  <b>Prelude Music:</b> Euanna Pigford<br>
                                  <b>Photography:</b> Mark Kasprzak<br>
                                  <b>Videography:</b> Joshua Hutchinson<br>
                                  <b>Catering:</b> AVI<br>
                                </p>
                                <!--<p>Please join us for our wedding ceremony</p>-->
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="event-wrap animate-box event-height">
                                <h3 class="text-center">Special Thanks</h3>
                                <p style="padding-left: 20px">
                                  <b>Officiating</b> Lt. Col R. Eugene Pigford<br>
                                  <b>Marriage Counseling</b> Pastor Jeremiah Olsen<br>
                                  <b>Bride's Parents</b> Daniel & Gail Pigford<br>
                                  <b>Groom's Parents</b> Richard & Linda Trumpower<br>
                                  <b>Bride's Grandparents</b> John & Kathy Kindel<br>
                                  <b>Bride's Grandparents</b> Gene & Eddie Pigford<br>
                                  <b>Groom's Grandparents</b> LaVerde & Judy Kuns<br>
                                </p>
                                <!--<p>Please join us for our wedding reception</p>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
